body{
    background-color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.display{
background-color: rgb(57, 55, 58);
padding: 20px;
margin: 100px;
width:  250px;
border-radius: 20px;
}
.inp{
    margin-bottom: 20px;
}
.buttons{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
button{
    background-color: black;
    border-radius: 20px;
    border: none;
    padding: 20px;
    color: rgb(230, 230, 240);
    font-size: 2,5em;
    cursor: pointer;
    transition: background-color 0,3s, transform 0,1s;
}
#result{
    padding: 20px;
    border: none;
    border-radius: 15px;
    width: 160px;
    text-align: right;
    background-color: rgb(19, 17, 17);
    color: aliceblue;
    font-size: 2em;
    box-shadow: inset  0 4px 6px color rgba(0, 0, 0, 1);

}
button.operateur{
    background-color: yellow;
    color: #fff;
    font-weight: bold;
}
button.clear{
    background-color: #e60000;
    color: #fff;
}
button:hover{
    background-color: #e0e0e0;

}
